.stockComponent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F0EDE9;
}
.stockComponent > h1{
    margin: 0;
    height: 50px;
    width: 100%;
    background-color: #FFFFFF;
}
.stockMainContent{
    margin-top: 40px;
    width: 96%;
    height: 70%;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;

}
.stockMainContent>:first-child{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.stockComponent .stockCard1 , .stockComponent .stockCard2{
    width: 49%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.stockMainContent>*{
    border-radius: 16px;
}
.stockInventory{
    position: relative;
    background-color: #FFFFFF;

    height: 90%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
        scrollbar-width: none;
        scroll-behavior: smooth;

}
.stockInventory table{
    border-collapse: separate;
    width: 100%;
    padding: 5px 0 0 5px;
    text-align: center;
    border-spacing: 0 15px;
}
.stockInventory thead{
    color: #AAAAAA;
    background-color: #fafafa;
    font-size: clamp(0.3rem , 2vw , 0.8rem);
    border-bottom: 1px solid #F0F0F0;
}
.stockInventory td > span{
    font-size: clamp(0.3rem , 2vw , 0.8rem);
    font-weight: bold;
    width: 100%;
    padding: 5px;
    border-radius: 6px;
}
.stockInventory>span{
    font-weight: bold;
    font-size: medium;
    padding: 0 0 0 7px;
}