--
-- PostgreSQL database dump
--

\restrict yKmSb3CvZBirs2KIsypJOVUAOXLVYzp65HnZwVsDtOqHSqx906ETJ27s5vvT0nE

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id integer CONSTRAINT inventory_id_not_null NOT NULL,
    productname character varying(50)
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: inventory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventory_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventory_id_seq OWNER TO postgres;

--
-- Name: inventory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventory_id_seq OWNED BY public.products.id;


--
-- Name: locally; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.locally (
    product_id integer,
    locally_quantity integer DEFAULT 0
);


ALTER TABLE public.locally OWNER TO postgres;

--
-- Name: operations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.operations (
    operation_id integer NOT NULL,
    start_date date,
    product_id integer,
    operation_status character varying(50),
    operation_type character varying(50),
    quantity integer,
    end_date date,
    additional_info text
);


ALTER TABLE public.operations OWNER TO postgres;

--
-- Name: operations_operation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.operations_operation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.operations_operation_id_seq OWNER TO postgres;

--
-- Name: operations_operation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.operations_operation_id_seq OWNED BY public.operations.operation_id;


--
-- Name: placemenets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.placemenets (
    product_id integer,
    placed_quantity integer
);


ALTER TABLE public.placemenets OWNER TO postgres;

--
-- Name: stock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock (
    product_id integer NOT NULL,
    stock_quantity integer DEFAULT 0
);


ALTER TABLE public.stock OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password text NOT NULL,
    role character varying(20) DEFAULT 'admin'::character varying,
    gmail character varying(50),
    otp character varying(6)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: operations operation_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operations ALTER COLUMN operation_id SET DEFAULT nextval('public.operations_operation_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.inventory_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: locally; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.locally (product_id, locally_quantity) FROM stdin;
848	0
846	654
847	1112
849	12
850	24313
\.


--
-- Data for Name: operations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.operations (operation_id, start_date, product_id, operation_status, operation_type, quantity, end_date, additional_info) FROM stdin;
562	2026-07-15	847	completed	purchase	123	2026-07-22	\N
563	2026-07-09	847	completed	purchase	989	2026-08-04	\N
561	2026-07-15	846	inProgress	takeFromVanue	654	2026-07-21	\N
564	2026-07-27	849	completed	extraPlacement	12	2026-07-27	\N
\.


--
-- Data for Name: placemenets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.placemenets (product_id, placed_quantity) FROM stdin;
846	\N
847	\N
848	\N
849	\N
850	\N
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products (id, productname) FROM stdin;
846	4 slot
847	babulika
848	babulika
849	givi
850	shakro
\.


--
-- Data for Name: stock; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock (product_id, stock_quantity) FROM stdin;
846	0
847	0
848	0
849	0
850	0
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, username, password, role, gmail, otp) FROM stdin;
3	temurrkiladzee	$2b$10$hWS9bNKu9GI9JVZqIgkIt.pEZr3DVT91svvyXMKVdU/qeHTFf4BHq	admin	temokiladze2003@gmail.com	345111
4	utruxunee	$2b$10$QEEGHsYoFSXoqcmslIQGOOTbCcG9bsS8dzzW.pTiT99HrpxHuqbXi	admin	rameshtamang200100@gmail.com	401837
2	tornikeeokropilashvilii	$2b$10$d3q1DRPUVJSkUm5OBPsomu2kvF2t9jEfQQC6GwAN1tGhovq64ket2	admin	rameshtamang200100@gmail.com	401837
\.


--
-- Name: inventory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_id_seq', 850, true);


--
-- Name: operations_operation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.operations_operation_id_seq', 565, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 5, true);


--
-- Name: products inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT inventory_pkey PRIMARY KEY (id);


--
-- Name: operations operations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operations
    ADD CONSTRAINT operations_pkey PRIMARY KEY (operation_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: stock fk_stock_productid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock
    ADD CONSTRAINT fk_stock_productid FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: locally locally_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locally
    ADD CONSTRAINT locally_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: operations operations_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operations
    ADD CONSTRAINT operations_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: placemenets placemenets_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.placemenets
    ADD CONSTRAINT placemenets_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- PostgreSQL database dump complete
--

\unrestrict yKmSb3CvZBirs2KIsypJOVUAOXLVYzp65HnZwVsDtOqHSqx906ETJ27s5vvT0nE

